body {
    font-family: Arial, sans-serif;
    background-color: rgb(71, 71, 242);
    color: rgb(233, 190, 60);
}
.container {
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}
.questao {
    font-size: 12px;
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
}

.imagem {
    align-items: center;
    padding: 20px 0;
    width: 320px;
}
.botoes{
    padding: 25px 0 100px 0;
    align-items: center;
    justify-content: center;


}
.botao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 12px;
    background-color: rgb(71, 42, 165);
 
}

p{
    font-weight: bold;
    font-size: 12px;
    color: black;
text-align: center;
padding: 0;}